<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Political Bustle</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="menu-item"><a href="/about-us">About </a></li>
        <li class="menu-item"><a href="/data-set">Data Set </a></li>
        <ul class="nav navbar-nav">
          <ul class="nav navbar-nav">
            <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
            </li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
          <li>
          <a href="http://www.twitter.com/" title="Twitter" rel="nofollow" target="_blank">
          <i class="fa fa-twitter-square fa-lg twitter-blue"></i>
        </a>
      </li>
      <li>
      <a href="http://www.linkedin.com/" title="LinkedIn" rel="nofollow" target="_blank">
      <i class="fa fa-linkedin-square fa-lg linkedin-blue"></i>
    </a>
  </li>
  <li>
  <form class="navbar-search navbar-form" method="get" action="">
  <input type="text" class="form-control" placeholder="Search" name="s">
</form>
</li>
</ul> -->
      </ul>

    </ul>
  </div>
</div>
</div>
