<h1>As Described by the <a href="http://phoenixdata.org/">Phoenix Data Project</a></h1>
<h2>The Phoenix dataset is a new, near real-time event dataset
  created using the next-generation event data coding software,
  <a href="http://petrarch.readthedocs.org/en/latest/">PETRARCH</a>.
  The data is generated using news content
  <a href="http://oeda-scraper.readthedocs.org/en/latest/">scraped</a>
  from over 400 sources. This scraped content is run through a <a href="http://phoenix-pipeline.readthedocs.org/en/latest/">processing pipeline</a> that produces coded event
  data as a final output. Our current settings produce roughly
  3,000 coded events per day. These coded events are in the
  standard who-did-what-to-whom format typically associated with
  event data. Each event is coded along on multiple dimensions,
  specifically source and target actors and event type.</h2>
